<!-- menu.html -->

<nav>
    <h2>Menu</h2>
    <a href="/index.html">Home</a>
    <a href="/hr_manager_dashboard.html">HRM Dashboard</a>
    <a href="/sld/sld_dashboard.html">SLD Dashboard</a>
    <a href="/pages/staff/staff.html">Staff</a>
    <a href="/pages/group_homes/group_homes.html">Group homes</a>
    
    <a href="#">Item 2</a>
    <a href="#">Item 3</a>
    <!-- Add more menu items as needed -->

  
</nav>

<!-- this will add teh role based menu
<script type="text/javascript" src="https://c8afw558.caspio.com/dp/7ce9c000ece61586d7864d0db0fb/emb"></script>-->


